*
{
	margin: 0;
	padding: 0;
}

body
{
	font-size: 16px;
	font-family: "Trebuche MS", Helvetica, sans-serif;
}

#navegacao
{
	/*border: 1px solid red;*/
	width: 100%;
}

#area
{
	/*border: 1px solid red;*/
	width: 900px;
	margin: 0 auto;	
}

#menu
{
	/*border: 1px solid red;*/
	float: right;
	padding: 10px 0;
	margin-top: 30px;
}

#area-principal
{
	/*border: 1px solid red;*/
	width: 900px;
	margin: auto;
}

#imagem-principal
{

	margin-bottom: 20px;
}

#rodape
{
	/*border: 1px solid red;*/
	margin-top: 50px;
}

#formulario-contato
{
	margin-top: 20px;		
}

h4
{
	text-align: center;	
}

a
{
	text-decoration: none;
	padding: 5px 10px;
}

/*Links não visitados*/
a:link
{
	color: orange;
}

/*Links visitados*/
a:visited
{
	color: #fff;
}

/*Links hover*/
a:hover
{
	color: #014D3E;
}
