/* ========================= layout ======================== */
html, body, .capa
{
	height: 100%;		
}

body
{		
<<<<<<< HEAD
	background: url(imagens/imagem_5_1.jpg);				
	background-attachment: fixed;	
	background-size: contain;	
=======
<<<<<<< HEAD
	background: url(imagens/imagem_principal.png);				
	background-attachment: fixed;	
=======
	background: url(imagens/imagem_5.jpg);
				/*linear-gradient(50deg,#ffcad5,#DDA0DD);*/
	background-attachment: fixed;
	/*background-color: #ffcad5;*/
>>>>>>> 8fe38e95de6f66cc73db8dd54aea908d77c704b3
	background-size: contain;
	background-position: center;
>>>>>>> 6b7e6e524c0dad22e5fb3e98f3f53325535841d0
	font-family: "Comic Sans MS", cursive, sans-serif;
}

nav.navbar-transparente
{
	background: rgba(255,192,203,0.6);	
}

.navbar-brand
{
	padding: 5px 15px;
}

/* -- Imagem de capa-- */
.capa
{		
	display: table;
<<<<<<< HEAD
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
=======
	width: 100%;			
>>>>>>> 8fe38e95de6f66cc73db8dd54aea908d77c704b3
}

.jumbotron
{	
	color: #D02090;
	margin-top: 15%;
	background: rgba(255,192,203,0.8);
}

#sobre
{
	color: #D02090;
	font-size: 70px;
}

.texto-capa
{	
<<<<<<< HEAD
	text-align: center;	
=======
	text-align: center;
<<<<<<< HEAD
	color: red;
=======
>>>>>>> 6b7e6e524c0dad22e5fb3e98f3f53325535841d0
	color: #D02090;
>>>>>>> 8fe38e95de6f66cc73db8dd54aea908d77c704b3
	display: table-cell;
	vertical-align: middle;		
}

/* -- Botões -- */
.btn-custom
{
	color: white;
	border-radius: 500px;
	border: 2px solid #FFFFFF;
	padding: 10px 35px;
	margin: 0px 15px;
	transition: background 0.4s, color 0.4s;
	font-weight: 900;
	font-size: 25px;
	width: 200px;
}

.btn-roxo
{
<<<<<<< HEAD
	background-color: #D02090;	
=======
<<<<<<< HEAD
	background-color: red;
=======
	background-color: #D02090;
>>>>>>> 8fe38e95de6f66cc73db8dd54aea908d77c704b3
	/*opacity: 0.8;*/
>>>>>>> 6b7e6e524c0dad22e5fb3e98f3f53325535841d0
}

.btn-roxo:hover
{
	background: #CD2626;
	color: white;
	border: 2px solid #CD2626;
}

/* ========================= Tipografia ======================== */
h1
<<<<<<< HEAD
{	
=======
{
<<<<<<< HEAD
	font-size: 70px;
	font-weight: 900;
	margin-bottom: 50px;
	text-shadow: #FFFFFF 2px -2px, #FFFFFF -2px 2px, #FFFFFF 2px 2px, #FFFFFF -2px -2px;	
	/*text-shadow: #FF00FF 2px -2px, #FF00FF -2px 2px, #FF00FF 2px 2px, #FF00FF -2px -2px; /* Efeito de borda em toda o texto.*/
}

/*#DDA0DD
* #CD0000
*/
=======
>>>>>>> 6b7e6e524c0dad22e5fb3e98f3f53325535841d0
	font-size: 80px;
	font-weight: 900;
	margin-bottom: 50px;
	text-shadow: #FFFFFF 2px 2px, #FFFFFF -2px 2px, #FFFFFF 2px -2px, #FFFFFF -2px -2px;
}
<<<<<<< HEAD

h4
{	
	color: #D02090;
	text-shadow: #FFFFFF 1px 1px, #FFFFFF -1px 1px, #FFFFFF 1px -1px, #FFFFFF -1px -1px;
}

h4:hover
{
	color: #FF00FF;
}
=======
>>>>>>> 8fe38e95de6f66cc73db8dd54aea908d77c704b3
>>>>>>> 6b7e6e524c0dad22e5fb3e98f3f53325535841d0
